
* {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

input{
    margin-right: 20px;
}